body
{
    color:rgb(132, 140, 187);
    background: rgba(110, 49, 49, 0.858);
    font-family: 'Bebas Neue', cursive;
}

.header_div

{
color:hsl(0, 0%, 100%);
background:black;
font-family: 'Bebas Neue', cursive;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    letter-spacing: 8px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
  }

  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
  }
  .copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    font-family: 'Bebas Neue', cursive;
 }